// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: var(--r-background-color);

// Primary/body text
$mainFont: 'Lato', sans-serif;
$mainFontSize: 10px;
//$mainColor: #284B63;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0px 20px $blockMargin ;
$headingFont: 'League Gothic', Impact, sans-serif;
//$headingColor: #284B63;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 10px;
$heading2Size: 2.00em;
$heading3Size: 1.50em;
$heading4Size: 1.00em;

$codeFont: monospace;

// Links and actions
$linkColor: #FF521B;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
